{% extends "base.html" %}
{% block content %}

<section>
    <div class="container">
        <!-- Add Cuisine Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Add Cuisine</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa-solid fa-plus"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Add Cuisine Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <form id="contactForm" method="POST" action="{{url_for('add_cuisine')}}">
                    <!-- Name input-->
                    <div class="mb-3">
                        <input class="form-control validate" id="cuisine_name" name="cuisine_name" minlength="3" maxlength="30" type="text"
                            placeholder="Enter name of cuisine..." required />
                        <label for="cuisine_name">Cuisine</label>
                    </div>
                    <div class="d-flex justify-content-center">
                         <!-- Submit Button-->
                    <button class="btn btn-primary" type="submit">Add</button>
                    </div>
                   
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock %}