{% extends "base.html" %}
{% block content %}

<section>
    <div class="container">
        <!-- New Recipe Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Edit Recipe</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa-solid fa-pencil"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Add Recipe Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <form id="contactForm" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe.id) }}">
                    <!-- Name input-->
                    <div class="mb-3">
                        <input class="form-control validate" id="recipe_name" name="recipe_name" value="{{ recipe.recipe_name }}" minlength="3" maxlength="30" type="text"
                            placeholder="Enter name of recipe..." required />
                        <label for="recipe_name">Recipe Name</label>
                    </div>
                    <!-- Cuisine input-->
                    <div class="mb-3">
                        <select id="cuisine_id" class="form-select" name="cuisine_id" aria-label="Default select example" multiple size="4" required>
                            <option disabled>Choose Cuisine</option>
                            {% for cuisine in cuisines %}
                                {% if cuisine == recipe.cuisine %}
                                    <option value="{{ cuisine.id }}" selected>{{ cuisine.cuisine_name }}</option>
                                {% else %}
                                    <option value="{{ cuisine.id }}">{{ cuisine.cuisine_name }}</option>
                                {% endif %}
                            {% endfor %}
                          </select>
                    </div>
                    <!-- Time input-->
                    <div class="mb-3">
                        <input class="form-control validate" id="recipe_time" name="recipe_time" value="{{ recipe.recipe_time }}" type="number"
                            placeholder="Enter time needed..." required />
                        <label for="recipe_time">Time (minutes)</label>
                    </div>
                    <!-- Ingredients input-->
                    <div class="mb-3">
                        <textarea class="edit-box validate" id="recipe_ingredients" name="recipe_ingredients" minlength="10" maxlength="1000"
                        placeholder="Enter ingredients..." required>
                        {{- recipe.recipe_ingredients -}}
                        </textarea>
                        <label for="recipe_ingredients">Ingredients</label>
                    </div>
                    <!-- Preparation input-->
                    <div class="mb-3">
                        <textarea class="edit-box validate" id="recipe_preparation" name="recipe_preparation" minlength="10" maxlength="5000"
                        placeholder="Enter preparation..." required>
                        {{- recipe.recipe_preparation -}}
                        </textarea>
                        <label for="recipe_preparation">Preparation</label>
                    </div>
                    <div class="mb-3 d-flex justify-content-center">
                         <!-- Submit Button-->
                    <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                   
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock %}